<div class="public__menu">
  <ul class="list-inline">
    <li class="pull-left"><a href="#bookshelf">Bookshelf</a></li>
    <li class="pull-right"><a href="/admin" class="login">Login</a></li>
  </ul>
</div>
<div class="public__content public__index">
  <h1>Alex Bubeev</h1>
  <p>I live and code for food.</p>
  <ul class="index__social center-block">
    <li>
      <a href="https://ru.linkedin.com/in/alexander-bubeev-42783835" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/perython" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://open.spotify.com/user/12151760019" target="_blank">
        <i class="fa fa-spotify"></i>
      </a>
    </li>
    <li>
      <a href="http://last.fm/user/le4o" target="_blank">
        <i class="fa fa-lastfm"></i>
      </a>
    </li>
  </ul>
</div>
