.idea/
.vscode/
.gitconfig

*.py[co]

node_modules/
static/
media/
migrations/
books.csv
npm-debug.log
celerybeat-schedule

front/admin/app/config.js
front/landing/app/config.js

settings/production.py
static.tar.gz
