{% extends 'notes_base.html' %}

{% block title %}{{ note.title }}{% endblock %}

{% block admin %}
  {% if request.user.is_authenticated %}
    <a class="edit" href="/notes/add/">Add new note</a>
    <a class="edit" href="{{ note.get_url }}edit/">Edit note</a>
  {% endif %}
{% endblock %}

{% block content %}
  <article class="note-current {% if not note.visible %}draft{% endif %}">
    <h2>{{ note.title }}</h2>
    <div class="note-date" title="{{ note.date_created|date:'d M Y, H:i' }}">{{ note.date_created|date:"d M Y" }}</div>
    <div class="note-entry">{{ note.entry|safe }}</div>
    <div class="note-info">
      <span class="tags">
        {% for tag in note.get_tags %}
          <a href="/notes/tagged/{{ tag }}/" class="note_tags">#{{ tag }}</a> 
        {% endfor %}
      </span>
    </div>
  </article>

  <div class="pagination">
    {% if note_prev %}
      <a class="prev" href="{{ note_prev.get_absolute_url }}">{{ note_prev.title }}</a>
    {% endif %}
    {% if note_next %}
      <a class="next" href="{{ note_next.get_absolute_url }}">{{ note_next.title }}</a>
    {% endif %}
  </div>

  {% load disqus_tags %}
  {% disqus_show_comments %}

{% endblock %}