{% extends 'notes_base.html' %}

{% block title %}{% if cur_tag %}Search results for tag "{{ cur_tag }}"{% else %}Notes{% endif %}{% endblock %}

{% block admin %}
  {% if user.is_authenticated %}
    <a class="edit" href="/notes/add/">Add new note</a>
  {% endif %}
{% endblock %}

{% block content_header %}
  {% if cur_tag %}
    <div class="search">Search results for tag "{{ cur_tag }}" {% if notes.count %}({{ notes.count }}){% endif %}:</div>
  {% endif %}
{% endblock %}

{% block content %}
  <section class="notes">
    {% for note in notes %}
      <article class="note {% if not note.visible %}draft{% endif %}">
        <!--<h2><a href="{{ note.get_absolute_url }}">{{ note.title }}</a></h2>-->
        <div class="note-date" title="{{ note.date_created|date:'F d, Y, H:i' }}"><a href="{{ note.get_absolute_url }}">{{ note.date_created|date:'F d, Y' }}</a></div>
        <div class="note-entry">{{ note.entry|safe }}</div>
        <div class="note-info">
          <a class="comments" href="{{ note.get_absolute_url }}#disqus_thread" data-disqus-identifier="http://perython.com/blog/{{ note.id }}/"></a>
          <span class="tags">
            {% for tag in note.get_tags %}
              <a href="/notes/tagged/{{ tag }}/" class="note_tags">#{{ tag }}</a> 
            {% endfor %}
          </span>
        </div>
      </article>
    {% empty %}
      Notes have been cleared out. Seems like just started a new life.
    {% endfor %}
  </section>

  <div class="pagination clear">
    {% if page_obj.has_next %}
      <a class="prev" href="/notes/page{{ page_obj.next_page_number }}/">Earlier</a>
    {% endif %}
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_previous %}
      <a class="next" href="/notes/page{{ page_obj.previous_page_number }}/">Later</a>
    {% endif %}
  </div>
{% endblock %}