.notes { position: relative; }
  .note { float: left; width: 300px; margin: 20px; padding: 10px 0; overflow: hidden; border-top: 5px solid #e6e2af; border-bottom: 1px dashed #e6e2af; }
    .note .video, .note .audio { position: relative; height: 0; padding-bottom: 56.25%; overflow: hidden; }
    .note .video iframe, .note .video object, .note .video embed,
    .note .audio iframe, .note .audio object, .note .audio embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
  .note-current { padding: 20px 20px 0 20px; }
    .note-date { margin-bottom: 10px; font-size: 70%; }
    .note-entry { margin-bottom: 10px; }
      .note-entry img { height: auto; max-width: 100%; }

    .note-info { overflow: hidden; }
      .note-info .comments { display: block; width: 20px; height: 20px; float: left; margin-right: 10px; background: url(../img/cmnt.png) 0 0 no-repeat; }
      .note-info .comments:hover { background-position: 0 -20px; }
      .note-info .tags { float: left; line-height: 20px; font-size: 70%; }
  #disqus_thread { padding: 0 20px 20px 20px; }

.clear { clear: both; }
.pagination { padding: 20px; overflow: hidden; text-align: center; }
  .pagination .prev { float: left; }
  .pagination .next { float: right; }