.circle {
  display: block;
  border-radius: 50%;
  margin: 0;
}

.earth {
  height: 200px;
  width: 200px;
  background: -webkit-radial-gradient(100px 100px, circle, green, #000);
  background: -moz-radial-gradient(100px 100px, circle, green, #000);
  background: radial-gradient(100px 100px, circle, green, #000);
  -webkit-animation: move-orbit 10s ease-out infinite;
}

@-webkit-keyframes move-orbit {
  0% {
  	-webkit-transform: 0;
  }
  25% {
  	-webkit-transform: translateX(100px);
  }
  /*50% {
    -webkit-transform: translateY(100px);	
  }
  75% {
    -webkit-transform: translateX(-100px);	
  }*/
}