/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*main*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, input, textarea { font-family: "PT Sans", Helvetica, sans-serif;  font-size: 18px; color: #002f2f; border: 0; margin: 0; padding: 0; }
p { margin: 0 0 10px 0; line-height: 1.4em; }
a { text-decoration: none; color: #046380; }
h2 { margin-bottom: 10px; font-size: 160%; }
ul { margin: 10px 0; }
::selection { color: #fff; }

header { width: 240px; height: 100%; position: fixed; top: 0; left: 0; margin-left: 0; z-index: 999; border-right: 1px solid #a7a37e; background: #efecca; }
  
  header h1 { margin: 10px 36px; }
  header ::selection { background-color:  #046380; }
    header h1 p { font-size: 50%; margin-top: 7px; }
  
    header nav ul { border-top: 1px solid #e6e2af; }
      header nav li.active { border-right: 6px solid #046380; }
        header nav li a { display: block; padding: 14px 36px; border-bottom: 1px solid #e6e2af; color: #002f2f; }
        header nav li a:hover { color: #fff; background: #046380; }
      
.main-section { margin-left: 240px; }
  .main-section a:hover { text-decoration: underline; color: #c00; }
  .main-section ul { line-height: 1.2em; }
  .main-section ::selection { background-color: #e6e2af; }

  .admin { padding: 10px; overflow: hidden; background: #b0c4de; font-size: 70%; }
    .admin a { margin-right: 5px; }
    .admin .username { color: #efecca; }
    .admin .logout { float: right; margin-right: 0; }
    
  .add-edit { padding: 20px; }
    .add-edit-form > ul > li { margin-bottom: 10px; }
    .add-edit-form .author input,
    .add-edit-form .title input,
    .add-edit-form .tags input,
    .add-edit-form .notes textarea,
    .add-edit-form .entry textarea { width: 430px; padding: 12px 16px; -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid #a1a1a1; line-height: 22px; webkit-box-shadow: inset 1px 1px 0px 1px #efecca; box-shadow: inset 1px 1px 0px 1px #efecca; }
    .add-edit-form .status { overflow: hidden; }
      .add-edit-form .status input { display: none; }
      .add-edit-form .status li { float: left; width: 100px; margin-right: 10px; padding: 10px; background-color: #f5f5f5; text-align: center; cursor: pointer; font-size: 80%; }
      .add-edit-form .status ul:last-child { margin-right: 0; }
      .add-edit-form .status li:hover { background-color: #f0f0f0; }
      .add-edit-form .status ul .selected { background-color: #398bce; color: #fff; }
        .add-edit-form .status li label { cursor: pointer; }
        .add-edit-form .date_read input { display: none; margin-left: 220px; width: 100px; text-align: center; font-size: 80%; }
        .add-edit-form .date_read .active { display: block; border: 1px solid #7dc36b; }
      .add-edit-form input[type=submit] { width: 120px; background-color: #7dc36b; color: #fff; line-height: 44px; cursor: pointer; text-align: center; }
      .add-edit-form input[type=submit]:hover { background-color: #5eb348; }
      .add-edit-form .img { font-size: 90%; }
      .add-edit-form .img a { display: block; width: 210px; float: left; position: relative; margin-right: 10px; line-height: 23px; text-align: center; }
      .add-edit-form .img a img { display: none; width: 100px; position: absolute; bottom: 100%; left: 0; }
      .add-edit-form .img a:hover { background-color: #f0f0f0; }
      .add-edit-form .img a:hover img { display: block; }
      .add-edit-form .img input { width: 210px; font-size: 90%; cursor: pointer; }
      .add-edit-form .errorlist li,
      .login-form .errorlist li { margin-bottom: 5px; color: red; }

  .login-form { padding: 20px; }
    .login-form ul li { margin-bottom: 10px; }
    .login-form input[name=username],
    .login-form input[name=password] { width: 200px; padding: 12px 16px; -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid #a1a1a1; line-height: 22px; webkit-box-shadow: inset 1px 1px 0px 1px #efecca; box-shadow: inset 1px 1px 0px 1px #efecca; }
    .login-form input[type=submit] { width: 200px; background-color: #7dc36b; color: #fff; line-height: 44px; cursor: pointer; text-align: center; }
    .login-form input[type=submit]:hover { background-color: #5eb348; }
    .login-form label[for=id_username],
    .login-form label[for=id_password] { display: none; }

  .contacts { padding: 20px; }
    .contacts ul { margin-left: 20px; list-style: disc; }

  .search { padding: 20px 20px 0; font-size: 160%; font-style: italic; }

  .portfolio { padding: 20px; }

  .project {
    width: 100px;
    height: 100px;
    display: table;
    float: left;
  }
    .project a {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: #002f2f;
    }
    .project a:hover {
      color: #002f2f;
      background: #e6e2af;
    }
  .project-cur {
    padding: 10px;
  }
    .project-cur h2 {
      font-size: 30px;
      margin: 10px 0;
    }
    .project-cur .project-date {
      margin: 10px 0;
    }

.mobile-header { display: none; position: fixed; top: 0; left: 0; width: 100%; overflow: hidden; z-index: 1001; border-bottom: 1px solid #a7a37e; background: #efecca; }
  .mobile-header a { float: left; padding: 12px; color: #002f2f; }
  .mobile-header a:hover { text-decoration: underline; }
  .mobile-header .show { background: #a7a37e; }

@media (max-width: 1024px) {
  header { margin-left: -240px; margin-top: 43px; }
  .main-section { margin-left: 0; margin-top: 43px; }  
  .mobile-header { display: block; }
}