{% extends 'portfolio_base.html' %}

{% block title %}Portfolio{% endblock %}

{% block admin %}
  {% if user.is_authenticated %}
    <a class="edit" href="/portfolio/add-project/">Add Project</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="portfolio">
    <h2>Portfolio</h2>
    {% for project in projects %}
      <div class="project">
        <a href="/portfolio/{{ project.id }}/">{{ project.name }} </a>
      </div>
    {% else %}
      Shebang!
    {% endfor %}
  </div>
{% endblock %}