{% extends 'base.html' %}

{% block title %}Contacts{% endblock %}

{% block header %}
  <h1>Contacts</h1>
{% endblock %}

{% block content %}
  <section class="content">
    <p>My name is Alex and I code for food.</p>
    <br>    
    <p><a href="http://www.facebook.com/alexander.bubeev" target="_blank">on Facebook</a></p>
    <p><a href="http://last.fm/user/le4o" target="_blank">on Last.fm</a></p>
    <p><a href="http://twitter.com/perython" target="_blank">on Twitter</a></p>
  </section>
{% endblock %}
