{% extends 'base.html' %}

{% block title %}Contacts{% endblock %}

{% block content %}
  <div class="contacts">
    <h2>Contacts</h2>
    <p>My name is Alex Bubeev and I'm a web developer from <a href="http://www.google.com/#q=Far+away+in+cold+Siberia+near+the+Lake+Baikal">Ulan-Ude</a>, Russia.</p>
    <p>There are some ways to break my privacy:</p>
    <ul>
      <li><a href="mailto:alexander.bubeev@gmail.com">mail</a> me;</li>
      <li><a href="http://www.facebook.com/alexander.bubeev">facebook</a>;</li>
      <li><a href="http://last.fm/user/le4o">last.fm</a>;</li>
      <li><a href="http://twitter.com/perython" title="хочешь спама, да?">твитор</a>.</li>
    </ul>
    <br><br>
    <h2>Friends:</h2>
    <p><a href="http://urapywka.ru">Urapywka.Ru</a> - сайт Игоря Жарникова</p>
  </div>
{% endblock %}