{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/book.css" />
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/libs/jquery.masonry.min.js"></script>
  <script src="{{ STATIC_URL }}js/books.js"></script>
{% endblock %}

{% block admin %}
  <a href="/bookshelf/add/">Add book</a>
{% endblock %}

{% block content_header %}{% endblock %}

{% block content %}
  <div class="books">
   <h2>Bookshelf</h2>
    <p>I use this page to order the books that I already read or reading now. I like to see results of wasting my time and it also keeps me motivating to read more and more.</p>
    <p>Since January 2012 I've read <span class="total">{{ total_read }}</span> books. Hurray!</p>
    <div class="books-container">
        {% for book in books %}
          <div class="book">
            <img src="{{ book.get_img_url }}" alt="{{ book.author }} - {{ book.title }}" />
            <div class="book-info">
              <p class="author">{{ book.author }}</p>
              <p class="title">{{ book.title }}</p>
              {% if user.is_authenticated %}
                <a class="edit" href="{{ book.get_edit_url }}">Edit</a>
              {% endif %}
              <div class="status {% if not user.is_authenticated %}guest{% endif %}">...<span>
                {% if book.status == 'RN' %}
                  In progress,<br>started {{ book.date_created|timesince }} ago
                {% else %}
                  Finished in {{ book.date_read|date:"F Y" }}
                {% endif %}
              </span></div>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}