<div class="public__menu">
  <ul class="list-inline">
    <li class="pull-left"><a href="#">Contacts</a></li>
    <li class="pull-right"><a href="/admin" class="login">Login</a></li>
  </ul>
</div>
<div class="public__content public__bookshelf">
  <h1>Bookshelf</h1>
  <p>Sometimes I read.</p>
  <div class="categories-region"></div>
  <div class="books-region"></div>
</div>
