<nav class="navbar navbar-static-top m-b-none" role="navigation">
  <div class="navbar-header">
    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
  </div>
  <ul class="nav navbar-top-links navbar-right">
    <li>
      <a href="#" class="logout">
        <i class="fa fa-sign-out"></i>
      </a>
    </li>
  </ul>
</nav>
